services:
  backend:
    image: buffotte-backend
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "8000:8000"
    env_file:
      - ./.env

  frontend:
    image: buffotte-frontend
    restart: always
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "4000:80"
    depends_on:
      - backend
